/* General reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Main container styling */
  .main-container {
    background: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)), url('../../assets/456549.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .content {
    text-align: center;
  }
  
  .text-content {
    margin-bottom: 20px;
  }
  
  .animation {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  
  /* Download section styling */
  .download-section {
    display: flex;
    gap: 10px;
  }
  
  .download-section input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  
  /* Video details styling */
  .video-details {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
  }
  
  .thumbnail {
    width: 120px;
    height: 90px;
    border-radius: 10px;
  }
  
  .video-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .duration {
    margin: 5px 0;
    color: #666;
  }
  
  .download-options {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .download-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .download-button:hover {
    background-color: #45a049;
  }
  
  .format-select {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Cookie consent banner styling */
  .CookieConsent {
    background: #2b373b !important;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px !important;
  }
  
  .CookieConsent button {
    background-color: #4e503b !important;
    color: white !important;
    font-size: 13px !important;
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
  }
  
  .CookieConsent button:hover {
    background-color: #3b4235 !important;
  }
  